#include <stdio.h>
#include <math.h>
int main(){
	int a,b,c;
	float x1,x2,x,delta,x3,x4,x5,x6;
	printf("2nd GRADE EXPRESSION:");
	scanf("%d",&a);
	printf("1ST GRADE EXPRESSION:");
	scanf("%d",&b);
	printf("CONST EXPRESSION:");
	scanf("%d",&c);
	delta=(b*b)-(4*a*c);
	if (delta==0){
		x=-b/2*a;
		printf("%2.f",x);
	}else if(delta>0){
		x1=(-b-sqrt(delta))/2*a;
		x2=(-b+sqrt(delta))/2*a;
		printf("%.2f  %.2f",x1,x2);
	}else{
		x3=-b/2*a;
		x4=sqrt(-delta)/2*a;
		printf("FIRST ROOT ::%.2f + %.2f i \n",x3,x4);
		x5=-b/2*a;
		x6=-sqrt(-delta)/2*a;
		printf("SECOND ROOT ::%.2f + %.2f i",x5,x6);
	}
	
	return 0;
}

	
